venv/
__pycache__/
*.pyc
.pytest_cache/
.vscode/
.idea/
Thumbs.db
*.log
.DS_Store

data/raw/
data/extracted/
data/processed/
data/downloads/
data/data - receipts
data/exploration/
data/ocr_boxes/
data/fatura/

models/line/